/* Adicione o seu estilo CSS aqui */

/* Exemplo de estilo para a seção de vídeo */
#video-section {
  width: 50%; /* Largura da seção de vídeo no desktop */
  float: left;
}

/* Exemplo de estilo para a seção de descrição */
#description-section {
  width: 50%; /* Largura da seção de descrição no desktop */
  float: right;
}

/* Ajustes de estilo para dispositivos móveis */
@media (max-width: 767px) {
  #video-section,
  #description-section {
      width: 100%; /* Largura total nas telas menores */
      float: none; /* Cancela a flutuação para empilhar em dispositivos móveis */
  }
}

.descricao-section h1 {
    font-size: 12px; /* Tamanho desejado para h1 */
    /* Outros estilos, se necessário */
}
