body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Cor de fundo do corpo */
}

section {
    margin: 20px;
}

h1, h2 {
    color: #000; /* Cor do texto para cabeçalhos */
}

a {
    color: #0070c9; /* Cor padrão para links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #005aa0; /* Cor do link durante o hover */
}
